@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
}

@import "tailwindcss";

@theme {
    --font-roboto: Roboto, "sans-serif";
}

body {
    background-color: rgb(32, 32, 36);
}