@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
}

@import "tailwindcss";

@theme {
    --font-roboto: Roboto, "sans-serif";
}

body {
    background-color: rgb(32, 32, 36);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 87);
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: transparent;
}